{% extends 'main/base.html' %}
{% load i18n %}
{% load tz %}
{% load gtranslate %}
{% get_current_timezone as TIME_ZONE %}

{% get_current_language as  LANGUAGE_CODE %}
{% block content %}

{% load tz_detect %}


     

     <h1>It is {% now "jS F Y H:i" %}{{ tz_detect }}</h1>
     

  <h5>{% gtranslate 'Welcome to the carporate Social Network. Here are accounts for differenct Designations, Where A CEO can See the Post of all the subordinates and others members can see only the posts of their own and their subordinates, they can not see the posts of their superiors' lang %}
  </h5>
  <strong> welcom : </strong>  {{user}}
   <a href="{% url 'upload_post' %}" class="btn btn-primary ml-2">Upload post</a>
    {% if user.is_ceo %}
         <a href="{% url 'ceo_admin' %}" class="btn btn-primary ml-2">Create Users</a>
    {% endif %}
    <h1>News Feed</h1>
    {% for post in Posts %}

    <h2 style="color:#0B2161;" >{{ post.title }}</h2>
    <hr>
    <p>{{ post.description }}</p>
    <h5>Uploaded by : {{post.user}}</h5>

    <hr>
    


	{% endfor %}

{% endblock %}
